@import "tailwindcss";

/* will apply dark variant to all descendant elements of html element if dark
mode is enabled with LightDarkToggle */
@custom-variant dark (&:where(.dark, .dark *));

/* personnal themes / colors */
@theme {
  --color-animalred: #aa3f3f;
  --color-animalred-light: #eed8d8;
  --color-animalred-dark: #471818;
  --color-animalpurple: #ac3cac;
  --color-animalpurple-light: #eed8ee;
  --color-animalcopper: #a67439;
  --color-animalcopper-light: #ede3d7;
  --color-animalcopper-dark: #563b1d;
  --color-animalblue: #00798c;
  --color-animalblue-light: #00c7e6;
  --color-animalblue-dark: #00333b;

  --color-animaldark: #0b0014;
  --color-animallight: #f6f0ed;
}
