@import "tailwindcss";

/* will apply dark variant to all descendant elements of html element if dark
mode is enabled with LightDarkToggle */
@custom-variant dark (&:where(.dark, .dark *));

/* personnal themes / colors */
@theme {
  --color-animalred: #aa3f3f;
  --color-animalred-light: #eed8d8;
  --color-animalred-dark: #471818;
  --color-animalpurple: #ac3cac;
  --color-animalpurple-light: #eed8ee;
  --color-animalcopper: #a67439;
  --color-animalcopper-light: #ede3d7;
  --color-animalcopper-dark: #563B1D;
  --color-animalblue: #00798C;
  --color-animalblue-light: #00C7E6;
  --color-animalblue-dark: #00333B;

  --color-animaldark: #0B0014;
  --color-animallight: #F6F0ED;
}
